<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="WeatherApp.css">
    
    <title>Weather</title>
</head>
<body>
    <div class="topBar">
        <a class="name">CITY<a class="time">TIME</a></a>
    <div class="searchBar">
        <input type="text" placeholder="Enter Location" value="Kolkata">
        <button type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
    </div>
    </div>
    <div class="weather">
        <div class="weatherBox">
            <h4 class="heading1">CURRENT WEATHER :</h4>
            <h3 class="weatherStatus"></h3>
            <img />
            <h1 class="temp">°C</h1>
            <h4 class="feel">FEELS LIKE <a class="feelsLike"> °C</a></h4>
            </div>
            <div class="weatherBox2">
            <div class="extra">
                <p class="detail1">Pressure : <a class="pressure"></a></p>
                <p class="detail2">Wind Speed : <a class="windSpeed"></a></p>
                <p class="detail3">Humidity : <a class="humidity"></a></p>
                <p class="detail4">Sunrise : <a class="sunrise"></a></p>
                <p class="detail5">Sunset : <a class="sunset"></a></p>
            </div>
    </div></div>
    
    <script src="https://kit.fontawesome.com/005389cfb1.js" crossorigin="anonymous"></script>
    <script src="WeatherApp.js" type="module"></script>
    
</body>
</html>
